DATABASE_URL="postgresql://localhost:26257/"

# Can be generated using `npx auth secret` (compulsory)
AUTH_SECRET="xxxxxxxx"

# The following are not compulsory (if having direct DB access)
# See src/lib/utils/userCreation.ts to create users directly (run in to get a test user)

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID="xxxxxx"
AUTH_GITHUB_SECRET="xxxxxx"

# https://authjs.dev/getting-started/providers/google 
AUTH_GOOGLE_ID="xxxxxx"
AUTH_GOOGLE_SECRET="xxxxxx"