@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;

	--background: oklch(0.99 0 89.876);
	--foreground: oklch(0.159 0 89.876);
	--shadow-color: rgba(0, 0, 0, 0.3);

	--card: oklch(1 0 89.876);
	--card-foreground: oklch(0.159 0 89.876);

	--popover: oklch(1 0 89.876);
	--popover-foreground: oklch(0.159 0 89.876);

	--primary: oklch(0.572 0.144 253.606);
	--primary-foreground: oklch(0.985 0 89.876);

	--secondary: oklch(0.93 0 89.876);
	--secondary-foreground: oklch(0.159 0 89.876);

	--muted: oklch(0.97 0 89.876);
	--muted-foreground: oklch(0.556 0 89.876);

	--accent: oklch(0.97 0 89.876);
	--accent-foreground: oklch(0.159 0 89.876);

	--destructive: oklch(0.637 0.208 25.331);
	--destructive-foreground: oklch(0.985 0 89.876);

	--warning: oklch(62.35% 0.12832 96.393);
	--warning-foreground: oklch(0.985 0 89.876);

	--border: oklch(0.94 0 89.876);
	--input: oklch(0.882 0 89.876);
	--ring: oklch(0.572 0.144 253.606);

	--sidebar: oklch(0.97 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.9 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--chart-protein: oklch(61.906% 0.20597 260.705);
	--chart-fat: oklch(0.769 0.188 70.08);
	--chart-carbs: oklch(0.696 0.17 162.48);

	--chart-consumed: oklch(0.572 0.144 253.606);
	--chart-remaining: oklch(56.928% 0.14544 254.106 / 0.3);
}

.dark {
	--background: oklch(0 0 0);
	--foreground: oklch(0.985 0 89.876);
	--shadow-color: rgba(255, 255, 255, 0.2);

	--card: oklch(0.16 0 89.876);
	--card-foreground: oklch(0.985 0 89.876);

	--popover: oklch(0.16 0 89.876);
	--popover-foreground: oklch(0.985 0 89.876);

	--primary: oklch(0.572 0.144 253.606);
	--primary-foreground: oklch(0.985 0 89.876);

	--secondary: oklch(0.22 0 89.876);
	--secondary-foreground: oklch(0.985 0 89.876);

	--muted: oklch(0.205 0 89.876);
	--muted-foreground: oklch(0.59 0 89.876);

	--accent: oklch(0.168 0 89.876);
	--accent-foreground: oklch(0.985 0 89.876);

	--destructive: oklch(0.637 0.208 25.331);
	--destructive-foreground: oklch(0.985 0 89.876);

	--border: oklch(0.226 0 89.876);
	--input: oklch(0.285 0 89.876);
	--ring: oklch(0.572 0.144 253.606);

	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-carbs: var(--chart-carbs);
	--color-chart-fat: var(--chart-fat);
	--color-chart-protein: var(--chart-protein);
	--color-chart-consumed: var(--chart-consumed);
	--color-chart-remaining: var(--chart-remaining);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
		font-family: 'Inter', sans-serif;
	}
	body {
		@apply bg-background text-foreground;
	}
}
