@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
}

.help-button {
  @apply btn btn-xs font-bold btn-circle w-8 border-2 border-accent;
}
