@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;

	--background: oklch(0.99 0 89.876);
	--foreground: oklch(0.159 0 89.876);

	--card: oklch(1 0 89.876);
	--card-foreground: oklch(0.159 0 89.876);

	--popover: oklch(1 0 89.876);
	--popover-foreground: oklch(0.159 0 89.876);

	--primary: oklch(0.572 0.144 253.606);
	--primary-foreground: oklch(0.985 0 89.876);

	--secondary: oklch(0.93 0 89.876);
	--secondary-foreground: oklch(0.159 0 89.876);

	--muted: oklch(0.97 0 89.876);
	--muted-foreground: oklch(0.556 0 89.876);

	--accent: oklch(0.97 0 89.876);
	--accent-foreground: oklch(0.159 0 89.876);

	--destructive: oklch(0.637 0.208 25.331);
	--destructive-foreground: oklch(0.985 0 89.876);

	--border: oklch(0.94 0 89.876);
	--input: oklch(0.882 0 89.876);
	--ring: oklch(0.572 0.144 253.606);

	--sidebar: oklch(0.97 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.9 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
}

.dark {
	--background: oklch(0 0 0);
	--foreground: oklch(0.985 0 89.876);

	--card: oklch(0.16 0 89.876);
	--card-foreground: oklch(0.985 0 89.876);

	--popover: oklch(0.16 0 89.876);
	--popover-foreground: oklch(0.985 0 89.876);

	--primary: oklch(0.572 0.144 253.606);
	--primary-foreground: oklch(0.985 0 89.876);

	--secondary: oklch(0.22 0 89.876);
	--secondary-foreground: oklch(0.985 0 89.876);

	--muted: oklch(0.205 0 89.876);
	--muted-foreground: oklch(0.59 0 89.876);

	--accent: oklch(0.168 0 89.876);
	--accent-foreground: oklch(0.985 0 89.876);

	--destructive: oklch(0.637 0.208 25.331);
	--destructive-foreground: oklch(0.985 0 89.876);

	--border: oklch(0.226 0 89.876);
	--input: oklch(0.285 0 89.876);
	--ring: oklch(0.572 0.144 253.606);

	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);

	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
}

@theme inline {
	/* Radius (for rounded-*) */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-radius: var(--radius);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@layer base {
	* {
		@apply border-border;
		font-family: 'Inter';
	}
	body {
		@apply bg-background text-foreground;
	}
}
